<!DOCTYPE html>
<html>
<head>
  <title>PgqWeb</title>
  <%= stylesheet_link_tag    "pgq_web/application", :media => "all" %>
  <%= javascript_include_tag "pgq_web/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
